@{
    ViewBag.Title = "Publiczna";
}

<div>
    <ul class="inline pull-right">
        <li>Menu:</li>
        <li>@Html.ActionLink("publiczna", "Index", "Home")</li>
        <li>@Html.ActionLink("chroniona", "Protected", "Home")</li>
    </ul>
    <h1>DEMO Website Profile Pracoadwców - strona główna</h1>
</div>